/* IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Foldit&display=swap');


/* NAVBAR */

.navbar {
    background: #000000;
    color: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
    position: fixed;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1000;
}

.navbar_links {
    text-decoration: none;
    color: #ffffff;
    font-size: 2rem;
    border-bottom: 2px solid #ffffff ;
    margin: 0.5em 0;
}

.navbar_links:hover{
    color: #808080;
    transition: color 0.2s ease-in;
}


/* LOGO */

.logo_div {
    font-family: 'Foldit', cursive;
    margin-left: 1em;
}

.logo_heading {
    font-size: 5rem;
    white-space: nowrap;
}




/* LINKS */


/* EXPANDABLE MENU BUTTON */

.collapse_menu{
    position: absolute;
    top: 0;
    right: 0.1rem;
    width: 25%;
    display: flex;
    flex-direction: column;
}

.menu_expandable_button {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    color: #ffffff;
}

.menu_expandable_button:hover {
    cursor: pointer;
    color: #808080;
    transition: color 0.2s ease-in;
}





/* MEDIA QUERIES */


@media screen and (max-width:650px) {
    .logo_heading {
        font-size: 4rem;
    }

    .menu_expandable_button {
        top: 0.5rem;
    }
    .collapse_menu{
        width: 50%;
    }
    .navbar_links{
        margin: 0.3em 0;
    }
}

@media screen and (max-width:500px) {
    .logo_heading {
        font-size: 3rem;
    }

    .menu_expandable_button {
        top: 0.2rem;
    }
    .navbar_links{
        margin: 0.1em 0;
    }
}

@media screen and (max-width: 800px) {
    .collapse_menu{
        width:40%;
    }
}

