
/* centered with inset: 0; margin: auto; */
.explore_card_container {
    /* border: 2px solid red; */
    width: 90%;
    max-width: 1200px;
    height: 80vh;
    position: absolute;
    inset: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 2.5em;
    padding-top: 5em;
}

@media screen and (max-width: 850px) {
    .explore_card_container {
        width: 95%;
        padding-left: 1em;
        padding-top: 2em;
    }
}

@media screen and (max-width: 650px) {
    .explore_card_container {
        flex-direction: column;
        width: 80%;
        padding-left: 5em;
    }
}

