@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');


.body {
    background: url('../../public/Images/Feedback-bg.jpg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headings {
    margin-top: 8em;
}

.h1, .h3 {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    color: #000000;
}

.h1 {
    font-size: 3rem;
    margin-bottom: 0.25em;
}

.h3 {
    font-size: 1.5rem;
    margin-bottom: 2.5em;
}

/* MEDIA QUERIES */

@media screen and (max-width: 650px) {
    .body {
        background: url('../../public/Images/Feedback-bg-mobile.jpg');
        background-size: cover;
    }
    .h1, .h3 {
        color: #ffffff;
    }
}

@media screen and (max-width: 500px) {
    .headings {
        margin-top: 6em;
    }
}